/* Profile image  */
.profile img {
  width: 126px;
  height: 111px;
  margin-left: 14px;
}

/* user tabs */
tr.usert_tabs a {
  margin-top: 7px;
}



/* clock style */

#clock {
  font-family: 'Arial', sans-serif;
  color: #333;
  display: flex;
  justify-content: right;
  font-size: 22px;
  letter-spacing: 0.1em;
}
.time-segment {
  margin: 0 10px;
  text-align: center;
}
.time-segment span {
  display: block;
  font-size: 0.5em;
  color: #666;
}